version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    open-pull-requests-limit: 3
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build(deps): "

  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 3
    schedule:
      interval: "daily"
    commit-message:
      prefix: "ci(deps): "
